#formbox {
	
	padding: 25px;
	margin: 20px auto;
	width: 50%;
	background: #1ab2ff;
	margin: 20px auto;
	overflow: auto;
	
}

#firstresult span {
	
	color: #ff0000;
	font-weight: bold;
	font-family: Tekton Pro;
	
}

#firstresult h3 {
	
	padding: 10px;
	margin: 10px 0;
	color: #ff0000;
	background: #1ab2ff;
	font-weight: bold;
	
}

#secondresult h3 {
	
	padding: 10px;
	margin: 10px 0;
	color: #ff0000;
	background: #ffff99;
	font-family: Tekton Pro;
	font-weight: bold;
	
}

#secondresult span {
	
	color: #ff0000;
	font-weight: bold;
	
}

#myButton {
	
	padding: 5px 10px;
	font-family: Tekton Pro;

			
}

#highscore  h3{
	
	padding: 10px;
	margin: 10px 0;
	color: #ff0000;
	background: #ffff99;
	font-weight: bold;
	
}

#highscore span {
	
	color: #ff0000;
	font-weight: bold;
	
}


body {
	
	background: #ff8533;
	color: #ffffff;
	font-family: Tekton Pro;
	font-size: 14px;
	
}

header {
	
	text-align: center;
	border-bottom: #ffffff solid 1px;

}




header h1 {
	
	padding: 0;
	margin: 0;
	color: #ffffff;

}

header h3 {
	
	padding: 0;
	margin: 0;
	color: #ff0000;

}

header p {
	
	padding: 0;
	margin-top: 5px;
	color: #ffffff;
	
}

section {
	
	min-height: 400px;
	
}

footer {
	
	text-align: center;
	
}

